In [1]:
from businesslayer import Business

source_db = "mysql+pymysql://root:seif@localhost:3306/Extraction"
bus = Business(source_engine=source_db)

bus.create_fact_sales()
bus.create_fact_inventory("E:\\ITI 9 Months\\Python\\bicycle-store-etl-pipeline\\source\\products.csv", "E:\\ITI 9 Months\\Python\\bicycle-store-etl-pipeline\\source\\stocks.csv")

,store_id,product_id,product_name,brand_id,category_id,quantity,list_price
0,1,1,Trek 820 - 2016,9,6,27,379.99
1,1,2,Ritchey Timberwolf Frameset - 2016,5,6,5,749.99
2,1,3,Surly Wednesday Frameset - 2016,8,6,6,999.99
3,1,4,Trek Fuel EX 8 29 - 2016,9,6,23,2899.99
4,1,5,Heller Shagamaw Frame - 2016,3,6,22,1320.99
...,...,...,...,...,...,...,...
973,3,309,Electra Townie Commute 27D - 2018,1,2,30,899.99
974,3,310,Electra Townie Commute 27D Ladies - 2018,1,2,8,899.99
975,3,311,Electra Townie Commute 8D - 2018,1,2,23,749.99
976,3,312,Electra Townie Commute 8D Ladies' - 2018,1,2,18,699.99
977,3,313,Electra Townie Original 1 Ladies' - 2018,1,2,0,449.99